.home-page {
	.hero {
		padding: 60px 0 0;
		background: #BBD2FF;
		position: relative;
		
		@media (min-width: 1024px) {
			padding: 40px 0;
		}
		
		.container {
			display: flex;
			align-items: center;
			flex-direction: column;
			
			@media (min-width: 1024px) {
				flex-direction: row;
				padding: 0 5%;
			}
		}
		
		.hero-image {
			width: 100%;
			margin: auto;
			order: 1;
			
			@media (min-width: 1024px) {
				width: 60%;
				order: 0;
			}

			figure {
				padding-top: calc(4 / 3 * 100%);
				background: url(../images/common/hero_mobile.png) no-repeat center;
				background-size: contain;
				
				@media (min-width: 1024px) {
					padding-top: 100%;
					background: url(../images/common/hero.png) no-repeat center;
					background-size: contain;
				}
			}
		}
		
		.hero-title-image {
			position: relative;
			order: 0;
			
			@media (min-width: 1024px) {
				order: 1;
				width: 35%;
				text-align: right;
				transform: translate(-30%, -4%);
			}
			
			img {
				width: 100%;
			}
			
			&::before,
			&::after {
				content: '';
				display: none;
				width: 50px;
				height: 50px;
				background: url(../images/stars/star_blue.svg) no-repeat center;
				background-size: contain;
				position: absolute;
				right: 0;
				
				@media (min-width: 1024px) {
					display: block;
				}
			}
			
			&::before {
				top: -60px;
			}
			
			&::after {
				bottom: 0;
			}
		}
	}
	
	.about {
		position: relative;
			
		.section-title {
			margin-bottom: 28px;
			
			@media (min-width: 1024px) {
				margin-bottom: 55px;
			}
		}
		
		.age-slider {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			z-index: 1;
			
			.image {
				max-width: 100%;
				flex: 0 0 100%;
				margin: 0 auto 28px;
				border-radius: 20px;
				border: 2.5px solid #1B449C;;
				overflow: hidden;
				
				@media (min-width: 1024px) {
					max-width: 80%;
					flex: 0 0 80%;
					margin: auto;
				}
				
				figure {
					padding-top: calc(9 / 16 * 100%);
					background: #BBD2FF no-repeat center;
					background-size: cover;
				}
			}
			
			nav {
				width: 100%;
				display: flex;
				justify-content: center;
				
				@media (min-width: 1024px) {
					position: absolute;
					justify-content: space-between;
					top: 50%;
					transform: translate(0, -50%);
				}
				
				.btn-slider {
					margin: 0 10px;
					
					@media (min-width: 1024px) {
						margin: 0;
					}
				}
			}
		}
	}
	
	.products {
		padding: 110px 0 80px;
		background: #BBD2FF url(../images/common/circle_mobile.png) no-repeat bottom center;
		background-size: cover;
		
		@media (min-width: 1024px) {
			padding: 250px 0 80px;
			background: #BBD2FF url(../images/common/circle.png) no-repeat bottom center;
			background-size: cover;
		}
		
		.grid {
			grid-gap: 30px;
			position: relative;
			
			@media (min-width: 1280px) {
				grid-gap: 60px;
			}
		}
		
		.section-title {
			margin-bottom: 28px;
			
			@media (min-width: 1024px) {
				margin-bottom: 70px;
			}
		}
		
		.product {
			cursor: pointer;
			padding: 0 15%;
			
			@media (min-width: 1024px) {
				padding: 0;
			}
			
			img {
				width: 100%;
			}
			
			.content {
				background: $light;
				margin-top: -10px;
				padding: 18px 14px 12px;
				font-size: 34px;
				text-transform: uppercase;
				border-radius: 0 0 28px 28px;
				
				@media (min-width: 1024px) {
					padding: 18px 28px 12px;
					font-size: 42px;
				}
			}
		}
		
		.product-detail {
			padding: 24px;
			background: $light;
			border-radius: 20px;
			color: #1B449C;
			margin-top: 24px;
			display: none;
			align-items: flex-start;
			
			&.active {
				display: block;
				
				@media (min-width: 1024px) {
					display: flex;
				}
			}
			
			@media (min-width: 1024px) {
				padding: 40px;
				box-shadow: 0 4px 10px 1px rgba(0, 0, 0, .2);
				position: absolute;
				top: calc(100% + 24px);
				z-index: 1;
				left: 0;
				width: 100%;
				margin-top: 0;
			}
			
			.left {
				flex: 0 0 30%;
				border-bottom: 1px solid #1B449C;
				padding-bottom: 24px;
				margin-bottom: 24px;
				
				@media (min-width: 1024px) {
					padding: 0;
					border-bottom: 0;
					margin-bottom: 0;
					margin-right: 60px;
					padding-right: 60px;
					border-right: 1px solid #1B449C;
				}
				
				h3 {
					font-size: 32px;
					font-weight: 700;
					text-transform: uppercase;
					
					@media (min-width: 1024px) {
						font-size: 40px;
					}
				}
				
				p {
					font-weight: 600;
					font-size: 20px;
				}
				
				.btn {
					width: 100%;
				}
			}
			
			ul {
				display: flex;
				flex-wrap: wrap;
				flex-grow: 1;
				
				li {
					flex: 0 0 100%;
					max-width: 100%;
					font-weight: 600;
					display: flex;
					align-items: center;
					margin-bottom: 8px;
					
					@media (min-width: 1024px) {
						flex: 0 0 50%;
						max-width: 50%;
						font-size: 20px;
					}
					
					&::before {
						content: '';
						display: inline-block;
						border-radius: 50%;
						background: #1B449C;
						width: 6px;
						height: 6px;
						margin-right: 6px;
					}
				}
			}
		}
	}
	
	.reasons {
		padding: 0 0 60px;
		background: #BBD2FF;
		
		@media (min-width: 1024px) {
			padding: 20px 0 80px;
		}
		
		.section-title {
			transform: translate(0, 50%);
		}
		
		.list {
			border: 5px solid $light;
			border-radius: 28px;
			padding: 40px 20px 40px;
			
			@media (min-width: 1024px) {
				border-radius: 80px;
				padding: 140px 80px 80px;
			}
		}
		
		.grid {
			grid-gap: 0;
			
			@media (min-width: 1024px) {
				grid-gap: 30px;
			}
			
			@media (min-width: 1324px) {
				grid-gap: 50px;
			}
		}
		
		.item {
			font-size: 18px;
			color: #1B449C;
			text-align: center;
			padding: 14px;
			transition: .15s;
			border-radius: 400px;
			
			@media (min-width: 1024px) {
				font-size: 24px;
				padding: 14px 14px 34px;
			}
			
			&:hover {
				background: #FFCB05;
			}
			
			.image {
				padding-top: 100%;
				margin-bottom: 14px;
				border-radius: 50%;
				overflow: hidden;
				background: no-repeat center;
				background-size: cover;
				
				@media (min-width: 1024px) {
					margin-bottom: 28px;
				}
			}
			
			p {
				font-weight: 600;
				line-height: 1.2rem;
				
				@media (min-width: 1024px) {
					line-height: 1.6rem;
				}
			}
		}
	}
	
	.stories {
		padding: 0px 0 60px;
		background: #BBD2FF;
		overflow: hidden;
		position: relative;
		
		@media (min-width: 768px) {
			padding: 0px 0 160px;
		}
		
		@media (min-width: 1800px) {
			padding: 0px 0 280px;
		}
		
		.section-title {
			margin-bottom: 40px;
			
			@media (min-width: 1024px) {
				margin-bottom: 66px;
			}
		}
		
		.glide__slide {
			height: auto;
		}
		
		.item {
			color: #1B449C;
			border: 2px solid #1B449C;
			border-radius: 24px;
			overflow: hidden;
			background: $light;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			position: relative;
			
			.image {
				border-radius: 24px;
				padding-top: calc(4 / 3 * 100%);
				background: #BBD2FF no-repeat top center;
				background-size: cover;
				border-bottom: 2px solid #1B449C;
			}
			
			.rating {
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translate(-50%, 0);
				width: 60%;
				height: 30px;
				background: url(../images/stars/rating.svg) no-repeat center;
				background-size: contain;
				/*
				@media (min-width: 1800px) {
					top: 40px;
					height: 60px;
					background-size: cover;
				}
				*/
			}
			
			.content {
				font-weight: 600;
				padding: 14px 40px 14px;
				font-size: 14px;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				justify-content: flex-end;
				
				@media (min-width: 1024px) {
					padding: 28px 40px 28px;
					font-size: 20px;
				}
				/*
				@media (min-width: 1800px) {
					padding: 40px 80px 28px;
					font-size: 28px;
				}
				*/
				p {
					font-family: 'Grandstander', cursive;
					line-height: 1.2rem;
					margin-bottom: 50%;
					
					@media (min-width: 1024px) {
						line-height: 1.6rem;
					}
					/*
					@media (min-width: 1800px) {
						line-height: 2rem;
					}
					*/
				}
				
				h4 {
					font-family: 'Grandstander', cursive;
					text-transform: uppercase;
					font-size: 22px;
					/*
					@media (min-width: 1800px) {
						font-size: 28px;
					}
					*/
				}
			}
		}
		
		.wave-tail {
			background: none;
			height: auto;
			bottom: -10px;
			
			img {
				width: 100%;
			}
		}
	}
	
	.blog {
		background: $light;
		padding: 20px 0 180px;
		position: relative;
		
		@media (min-width: 1024px) {
			padding: 60px 0 300px;
		}
		
		@media (min-width: 1800px) {
			padding: 20px 0 300px;
		}
		
		.sub-title {
			font-size: 20px;
			line-height: 1.6rem;
			width: 80%;
			margin: 0 auto 40px;
			
			@media (min-width: 1024px) {
				width: auto;
				margin-bottom: 80px;
			}
		}
		
		.tab-pane {
			.grid {
				grid-gap: 20px;
				
				@media (min-width: 1024px) {
					grid-template: auto / 1fr 30%;
				}
			}
			
			.image {
				padding-top: calc(3 / 4 * 100%);
				background: #E1EBFF no-repeat center;
				background-size: cover;
				border-radius: 18px;
				margin-bottom: 14px;
				
				@media (min-width: 1024px) {
					margin-bottom: 0;
				}
			}
			
			.content {
				display: flex;
				flex-direction: column;
				
				h4 {
					font-size: 32px;
					color: #1B449C;
					text-transform: uppercase;
					margin-bottom: 18;
					font-family: 'Grandstander', cursive;
					margin-bottom: 14px;
					
					@media (min-width: 1024px) {
						margin-bottom: 24px;
					}
				}
				
				p {
					margin-bottom: 24px;
					font-size: 18px;
					line-height: 22px;
					
					@media (min-width: 1024px) {
						margin-bottom: auto;
					}
				}
				
				.btn {
					font-size: 24px;
					width: 100%;
					padding: 10px 24px;
				}
			}
		}
		
		.wave-tail {
			background: none;
			height: auto;
			bottom: -10px;
			
			img {
				width: 100%;
			}
		}
	}
}
