.home-page {
	.hero {
		padding: 60px 0 0;
		background: #BBD2FF;
		position: relative;
		
		@media (min-width: 1024px) {
			padding: 40px 0;
		}
		
		.container {
			display: flex;
			align-items: center;
			flex-direction: column;
			
			@media (min-width: 1024px) {
				flex-direction: row;
				padding: 0 5%;
			}
		}
		
		.hero-image {
			width: 100%;
			margin: auto;
			order: 1;
			
			@media (min-width: 1024px) {
				width: 60%;
				order: 0;
			}

			figure {
				padding-top: calc(4 / 3 * 100%);
				background: url(../images/common/hero_mobile.png) no-repeat center;
				background-size: contain;
				
				@media (min-width: 1024px) {
					padding-top: 100%;
					background: url(../images/common/hero.png) no-repeat center;
					background-size: contain;
				}
			}
		}
		
		.hero-title-image {
			position: relative;
			order: 0;
			
			@media (min-width: 1024px) {
				order: 1;
				width: 35%;
				text-align: right;
				transform: translate(-30%, -4%);
			}
			
			img {
				width: 100%;
			}
			
			&::before,
			&::after {
				content: '';
				display: none;
				width: 50px;
				height: 50px;
				background: url(../images/stars/star_blue.svg) no-repeat center;
				background-size: contain;
				position: absolute;
				right: 0;
				
				@media (min-width: 1024px) {
					display: block;
				}
			}
			
			&::before {
				top: -60px;
			}
			
			&::after {
				bottom: 0;
			}
		}
	}
	
	.about {
		position: relative;
			
		.section-title {
			margin-bottom: 28px;
			
			@media (min-width: 1024px) {
				margin-bottom: 55px;
			}
		}
		
		.age-slider {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			
			.image {
				max-width: 100%;
				flex: 0 0 100%;
				margin: 0 auto 28px;
				border-radius: 20px;
				border: 2.5px solid #1B449C;
				overflow: hidden;
				
				@media (min-width: 1024px) {
					max-width: 80%;
					flex: 0 0 80%;
					margin: auto;
				}
				
				figure {
					padding-top: calc(9 / 16 * 100%);
					background: #BBD2FF no-repeat center;
					background-size: cover;
				}
			}
			
			nav {
				width: 100%;
				display: flex;
				justify-content: center;
				
				@media (min-width: 1024px) {
					position: absolute;
					justify-content: space-between;
					top: 50%;
					transform: translate(0, -50%);
				}
				
				.btn-slider {
					margin: 0 10px;
					
					@media (min-width: 1024px) {
						margin: 0;
					}
				}
			}
		}
	}
	
	.products {
		padding: 160px 0 80px;
		background: #BBD2FF url(../images/common/circle_mobile.png) no-repeat center;
		background-size: cover;
		
		@media (min-width: 1024px) {
			padding: 250px 0 80px;
			background: #BBD2FF url(../images/common/circle.png) no-repeat top center;
			background-size: cover;
		}
		
		.grid {
			grid-gap: 60px;
		}
		
		.section-title {
			margin-bottom: 28px;
			
			@media (min-width: 1024px) {
				margin-bottom: 70px;
			}
		}
		
		.product {
			cursor: pointer;
			padding: 0 15%;
			
			@media (min-width: 1024px) {
				padding: 0;
			}
			
			img {
				width: 100%;
			}
			
			.content {
				background: $light;
				margin-top: -10px;
				padding: 18px 14px 12px;
				font-size: 34px;
				text-transform: uppercase;
				border-radius: 0 0 28px 28px;
				
				@media (min-width: 1024px) {
					padding: 18px 28px 12px;
					font-size: 42px;
				}
			}
		}
	}
	
	.reasons {
		padding: 20px 0 80px;
		background: #BBD2FF;
		
		.section-title {
			transform: translate(0, 50%);
		}
		
		.list {
			border: 5px solid $light;
			border-radius: 80px;
			padding: 80px 20px 40px;
			
			@media (min-width: 1024px) {
				padding: 140px 80px 80px;
			}
		}
		
		.grid {
			grid-gap: 0;
			
			@media (min-width: 1024px) {
				grid-gap: 50px;
			}
		}
		
		.item {
			font-size: 24px;
			color: #1B449C;
			text-align: center;
			padding: 14px 14px 34px;
			transition: .15s;
			border-radius: 400px;
			
			&:hover {
				background: #FFCB05;
			}
			
			.image {
				padding-top: 100%;
				margin-bottom: 28px;
				border-radius: 50%;
				overflow: hidden;
				background: no-repeat center;
				background-size: cover;
			}
			
			p {
				font-weight: 600;
				line-height: 1.6rem;
			}
		}
	}
	
	.stories {
		padding: 0px 0 160px;
		background: #BBD2FF;
		overflow: hidden;
		position: relative;
		
		.section-title {
			margin-bottom: 66px;
		}
		
		.glide__slide {
			height: auto;
		}
		
		.item {
			color: #1B449C;
			border: 2px solid #1B449C;
			border-radius: 24px;
			overflow: hidden;
			background: $light;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			position: relative;
			
			.image {
				border-radius: 24px;
				padding-top: calc(4 / 3 * 100%);
				background: #BBD2FF no-repeat center;
				background-size: cover;
				border-bottom: 2px solid #1B449C;
				margin-bottom: 28px;
				
				@media (min-width: 1024px) {
					padding-top: calc(9 / 16 * 100%);
				}
			}
			
			.rating {
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translate(-50%, 0);
				width: 60%;
				height: 30px;
				background: url(../images/stars/rating.svg) no-repeat center;
				background-size: contain;
			}
			
			.content {
				font-weight: 600;
				padding: 0 40px 100px;
				font-size: 20px;
				display: flex;
				flex-direction: column;
				
				p {
					font-family: 'Grandstander', cursive;
					line-height: 1.6rem;
				}
				
				h4 {
					font-family: 'Grandstander', cursive;
					text-transform: uppercase;
					font-size: 22px;
					position: absolute;
					transform: translate(-50%, 0);
					bottom: 28px;
					left: 50%;
				}
			}
		}
		
		.wave-tail {
			background: url(../images/common/curve_white.png) no-repeat center;
			background-size: cover;
			height: 60px;
		}
	}
	
	.blog {
		background: $light;
		padding: 80px 0 320px;
		position: relative;
		
		.sub-title {
			font-size: 20px;
			line-height: 1.6rem;
			margin-bottom: 80px;
		}
		
		.tab-pane {
			.grid {
				grid-gap: 20px;
				
				@media (min-width: 1024px) {
					grid-template: auto / 1fr 30%;
				}
			}
			
			.image {
				padding-top: calc(3 / 4 * 100%);
				background: #E1EBFF no-repeat center;
				background-size: cover;
				border-radius: 18px;
			}
			
			.content {
				display: flex;
				flex-direction: column;
				
				h4 {
					font-size: 32px;
					color: #1B449C;
					text-transform: uppercase;
					margin-bottom: 18;
					font-family: 'Grandstander', cursive;
					
					@media (min-width: 1024px) {
						margin-bottom: 24px;
					}
				}
				
				p {
					margin-bottom: 24px;
					
					@media (min-width: 1024px) {
						margin-bottom: auto;
					}
				}
				
				.btn {
					font-size: 24px;
					width: 100%;
				}
			}
		}
		
		.wave-tail {
			background: url(../images/common/curve_blue.png) no-repeat center;
			background-size: cover;
			height: 90px;
		}
	}
}