.home-page {
	.hero {
		padding: 40px 0;
		background: #BBD2FF;
		position: relative;
		
		.container {
			display: flex;
			align-items: center;
			padding: 0 5%;
		}
		
		.hero-image {
			width: 60%;
			margin: auto;

			figure {
				padding-top: 100%;
				background: url(../images/common/hero.png) no-repeat center;
				background-size: contain;
			}
		}
		
		.hero-title-image {
			position: relative;
			width: 35%;
			text-align: right;
			transform: translate(-30%, -4%);
			
			img {
				width: 100%;
			}
			
			&::before,
			&::after {
				content: '';
				display: block;
				width: 50px;
				height: 50px;
				background: url(../images/stars/star_blue.svg) no-repeat center;
				background-size: contain;
				position: absolute;
				right: 0;
			}
			
			&::before {
				top: -60px;
			}
			
			&::after {
				bottom: 0;
			}
		}
	}
	
	.about {
		position: relative;
			
		.section-title {
			margin-bottom: 55px;
		}
		
		.age-slider {
			display: flex;
			align-items: center;
			
			.image {
				max-width: 80%;
				flex: 0 0 80%;
				margin: auto;
				border-radius: 20px;
				border: 2.5px solid #1B449C;
				overflow: hidden;
				
				figure {
					padding-top: calc(9 / 16 * 100%);
					background: #BBD2FF no-repeat center;
					background-size: cover;
				}
			}
		}
	}
	
	.products {
		padding: 250px 0 80px;
		background: #BBD2FF url(../images/common/circle.png) no-repeat top center;
		background-size: contain;
		
		.grid {
			grid-gap: 60px;
		}
		
		.section-title {
			margin-bottom: 70px;
		}
		
		.product {
			.image {
				padding-top: calc(4 / 3 * 100%);
				background: no-repeat center;
				background-size: contain;
			}
			
			.content {
				background: $light;
				margin-top: -4px;
				padding: 18px 28px 12px;
				font-size: 42px;
				text-transform: uppercase;
				border-radius: 0 0 28px 28px;
			}
		}
	}
	
	.reasons {
		padding: 60px 0 80px;
		background: #BBD2FF;
		
		.section-title {
			transform: translate(0, 50%);
		}
		
		.list {
			border: 5px solid $light;
			border-radius: 80px;
			padding: 140px 80px 80px;
		}
		
		.grid {
			grid-gap: 50px;
		}
		
		.item {
			font-size: 24px;
			color: #1B449C;
			text-align: center;
			padding: 14px 14px 34px;
			transition: .15s;
			border-radius: 400px;
			
			&:hover {
				background: #FFCB05;
			}
			
			.image {
				padding-top: 100%;
				margin-bottom: 28px;
				border-radius: 50%;
				overflow: hidden;
				background: no-repeat center;
				background-size: cover;
			}
			
			p {
				font-weight: 600;
				line-height: 28px;
			}
		}
	}
	
	.stories {
		padding: 0px 0 80px;
		background: #BBD2FF;
	}
}